@import url(../css/var.css);

.about {

    gap: 35px;
    padding: 40px;
    width: 100vw;
    height: 100vh;
}

h2 {

    margin-bottom: 13px;
    font-size: 2.5em;
}

p {

    text-align: justify;
    line-height: 27px;
    font-size: 1.1em;
}

img {

    width: 27em;
    height: 16em;
    object-fit: cover; 
     margin-top: 3em;
}