@import url(../css/var.css);

main {

    background: var(--bg-primary);
}

.container h2, .container h3{

    color: white;
}

form {

    padding: 30px;
    border-radius: 25px;
    background-color: var(--bg-primary);
    color: white;
}

form h2 {

    background-color: var(--bg-primary);
    color: white;
}

form input {

    color: white;
}