@import url(../css/var.css);

main {

    height: 100vh;
}

#log-in {

    max-width: 40vw;
}

form {

    padding: 26px;
    border-radius: 10px;
    background: var(--bg-primary);
    color: white;
}

h2 {

    background: var(--bg-primary);
}